.large-image-wrapper {
    height: 800px;
    left: 0;
    max-width: none;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    img,
    picture {
        max-height: none;
        max-width: none;
        position: relative;
    }

    @media screen and ( max-width: 768px ){
        height: 650px;
    }
    @media screen and ( max-width: 480px ){
        height: 500px;
    }

    &.large-image-contain {
        height: auto;

        img,
        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        @media screen and ( max-width: 768px ){
            height: auto;
        }
        @media screen and ( max-width: 480px ){
            height: auto;
        }
    }
}
