.fbi-textblock {
    .fbi-block();
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 920px;

    p {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;

        + img {
            margin-top: 6em;
        }
    }
}
