.fbi-splitblock( @imgPos: 'left', @overlay: rgba( 0, 0, 0, 0.3 )) {
    @gutter: 1em;

    max-width: 1250px + ( @gutter * 2 );
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3em;

    h4 {
        margin-bottom: 0;
    }

    .splitblock-image {
        order: 1;
        color: @white;
        padding: @gutter;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .splitblock-content,
    .expandable-content {
        order: 2;
        text-align: left;
        width: 100%;
        max-width: 720px;
        padding: @gutter;
    }

    .content-expandable {
        display: none;
    }

    @media screen and ( min-width: 768px ){
        display: flex;

        .splitblock-image,
        .splitblock-content {
            width: 50%;
        }
    }

    &.expandable {
        .fbi-expandable( 1em, @overlay );
    }
}

.fbi-splitblock( @imgPos: 'left', @overlay: rgba( 0, 0, 0, 0.3 )) when ( @imgPos = 'right' ) {
    .splitblock-image {
        order: 2;
    }
    .splitblock-content {
        order: 1;
    }

    @media screen and ( min-width: 920px ){
        .splitblock-content {
            text-align: right;
        }
    }
}
