#fbi-content {
    .fbi-headerblock {
        .fbi-hero-video-play-btn {
            background-color: transparent;
            background-image: url( '@@path/img/play.png' );
            background-size: contain;
            background-repeat: no-repeat;
            .opacity( 1 );
            height: 54px;
            width: 54px;
            position: relative;
            z-index: 4;
            margin: 20px auto;
            border: 0;
            display: block;

            &:hover {
                .opacity( 0.8 );
                border: 0;
                background-color: transparent;
            }
        }
    }
}
