<div id="fbi-content">

	<div class="personuppgifter">
		<div class="text-header">
			<h1>Personuppgifter</h1>
		</div>
		<div class="text-content">
			<div class="text-wrapper">

				<p class="secondary-paragraph">
					Genom registrering av användarkonto, köp av produkt(er) och/eller tjänster ur vårt sortiment och/eller nedladdning av någon av våra mobiltelefonapplikationer samtycker du till behandling av dina personuppgifter enligt nedan.
				</p>

				<p class="secondary-paragraph">
					Volvo Car Sverige är ansvarig för behandling av de personuppgifter som du lämnar till oss såsom namn, e-postadress, mobil- och telefonnummer, adress samt. Vi kommer att behandla dina personuppgifter för att kunna administrera dina offertförfrågningar, kunna visa rätt information kring din bil och dess kringtjänster, för att kunna tillhandahålla en användarupplevelse med relevant information, för marknadsföringsändamål genom bland annat elektroniska kommunikationstjänster samt för att kunna utveckla våra produkter och tjänster. Dina personuppgifter kan även komma att lämnas ut till och behandlas av vårt moderbolag Volvo Car Corporation, din Volvoåterförsäljare samt våra samarbetspartners inom branschen för bilrelaterade produkter och tjänster för de ovan angivna ändamålen. Dina personuppgifter kan komma att lämnas ut till bolag både inom och utanför Europa.
				</p>

				<p class="secondary-paragraph">
					Som ett led i vår marknadsföring och vårt arbete med att tillhandahålla en bra kundupplevelse analyserar vi uppgifter, däribland personuppgifter, kring dina inköp och din aktivitet på våra sidor, på sociala nätverk samt på våra hemsidor och i våra applikationer. Vi kommer exempelvis att behandla dina personuppgifter för att med hjälp av Google Analytics kunna anpassa de annonser och erbjudanden som du ser utifrån information om ditt tidigare surfande samt för att kunna utveckla våra produkter och tjänster. Vidare kan vi och Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA ("Google") komma att använda dina personuppgifter för att utvärdera ditt användande av vår sajt och för tjänster i anslutning till webbplatsaktiviteter och internetanvändande.
				</p>

				<p class="secondary-paragraph">
					Eftersom vi använder oss av Google Analytics kan dina personuppgifter komma att vidarebefordras till, och lagras på, Googles servrar som finns placerade runtom i världen. Dina personuppgifter kan således komma att hanteras på en server som är placerad i ett annat land än där du bor. Google kan även komma att överföra dina personuppgifter till tredje man för det fall det krävs enligt lag eller när sådan tredje man behandlar informationen på uppdrag av Google. Google sammankopplar inte din IP-adress med några andra personuppgifter som Google kan ha lagrat om dig.
				</p>

				<p class="secondary-paragraph">
					Uppgifter som vi analyserar kan exempelvis vara din IP-adress, ditt bilägande och/eller bilnyttjande, användande av försäkrings- och finansieringsprodukter och/eller andra bilägartjänster, senast gjorda inköp, betalsätt och kontosaldo om du har kredit hos oss och annan information som du har lämnat till oss som kund. Vi kan komma att spara dina personuppgifter upp till tre år efter det att ditt kundförhållande med oss har upphört för marknadsföringsändamål enligt ovan. Vi ser dig som kund under den tid som du avbetalar något av dina köp, använder dig av några av våra tjänster, besöker någon av våra hemsidor eller använder dig av någon av våra mobiltelefonapplikationer. Vi ser dig även som kund under den tid som din garantitid löper på produkt(er) som du har köpt av oss och/eller våra samarbetspartners inom branschen för bilrelaterade produkter och tjänster.
				</p>

				<p class="secondary-paragraph">
					Det är frivilligt att lämna personuppgifter. Du kan helt eller delvis återkalla ditt lämnade samtycke genom skriftligt meddelande till oss på nedan angivna adress: Volvo Car Sverige AB, Att: Kundservice, VCI, 405 31 Göteborg, Sverige. Du har som kund rätt att en gång per 12 månaders period efter skriftlig begäran till oss på ovan angivna adress kostnadsfritt få information om vilka personuppgifter som vi har registrerat om dig och hur dessa uppgifter används. Du har även rätt att begära att vi rättar eller tar bort felaktiga uppgifter om dig.
				</p>
			</div>
		</div>
	</div>

	<div class="villkor">
		<div class="text-header">
			<h1>Allmänna villkor</h1>
		</div>
		<div class="sub-header">Privatleasing Care by Volvo, 2017/08</div>
		<div class="text-content">
			<div class="text-wrapper">

				<h3>1. BESKRIVNING AV TJÄNST</h3>
				<p class="secondary-paragraph">
					I leasingavgiften för Care by Volvo ingår följande tjänster.
				</p>
				<p class="secondary-paragraph secondary-paragraph--indented">
					a) Underhållsservice (Serviceavtal)<br> b) Försäkring<br> c) Trygghetsförsäkring<br> d) Garanti under hela avtalstiden<br> e) Medlemskap i Sunfleet - Volvo Car Sharing bilpool, samt tio fria resor om max 500 kr/resa<br> f) 20 % rabatt när du hyr
					bil hos Hertz<br> g) Volvokort med extra drivmedelsrabatt<br>
				</p>
				<p></p>

				<h3>2. I VÄNTAN PÅ LEVERANS</h3>
				<p class="secondary-paragraph secondary-paragraph--indented">
					a) Avbeställning av kund<br> Kunden har rätt att avbeställa leasingobjektet före leveransen mot ersättning. Avbeställer kunden bilen inom en vecka efter det att bindande avtal har ingåtts har leasegivaren rätt till ersättning med 1,5 % av leasingobjektets
					pris, kontakta din säljare för prisuppgifter. Vid senare avbeställning har leasegivaren rätt till ersättning med 7 % av leasingobjektets pris.<br> b) Leveranstid och leveransförsening<br> Leveransdag för en ny bil som ska tillverkas är avhängigt
					av vid var tid gällande ledtider hos tillverkaren. Vid leveransförsening ska leasegivaren snarast underrätta kunden. Om förseningen är av väsentlig betydelse för kunden – vid denna bedömning ska såväl tidsaspekten som kundens egna behov beaktas –
					får kunden häva köpet om kunden inom skälig tid efter underrättelsen meddelar leasegivaren detta. Leasegivaren är inte skyldigt att leverera om detta är omöjligt p g a de förutsättningar som anges i 12 § Konsumentköplagen (KKL). Kunden har rätt att
					hålla inne betalningen vid leasegivarens dröjsmål enligt 11 § KKL. c) Prisändring<br> Priser och avgifter kan ändras av omständigheter som leasegivaren inte råder över, till exempel om skatter, tullar eller offentliga avgifter höjs efter avtalets
					tecknande. I dessa fall har leasegivaren rätt att häva avtalet. Leasegivaren reserverar sig för eventuella fel i artikel- och prisinformation. d) Försening på kundens sida<br> Om leasingobjektet finns för avhämtning och kunden inte fullföljer avhämtning
					i rätt tid och dröjsmålet inte beror på leasegivaren kan leasegivaren kräva betalning och dröjsmålsränta enligt 6 § räntelagen (1975:635). Leasegivaren kan häva köpet om kundens dröjsmål utgör ett väsentligt avtalsbrott eller om kunden inte har betalat
					inom en av leasegivaren bestämd skälig tilläggstid, normalt två veckor. Leasegivaren har vid hävning rätt till ersättning med 10 % av objektets pris.<br>
				</p>

				<h3>3. LEVERANSGODKÄNNANDE</h3>
				<p class="secondary-paragraph">
					Kunden har, i samband med leverans, undersökt leasingobjektet och med skälig omsorg kontrollerat att leasingobjektet motsvarar vad som överenskommits.
					<br> <br> Vid fel på leasingobjektet ska kunden reklamera felet hos leasegivaren utan dröjsmål. Reklamation ska göras inom skälig tid från det att kunden har märkt eller borde ha märkt felet, en reklamation som har gjorts inom två månader efter det
					att kunden har märkt felet ska alltid anses ha kommit in i rätt tid. Kunden får inte reklamera senare än tre år efter leveransdagen
				</p>

				<h3>4. LEASINGOBJEKTETS BRUKANDE</h3>
				<p class="secondary-paragraph">
					Yrkesmässig transport av personer eller gods med leasingobjektet mot ersättning får inte ske utan leasegivarens skriftliga medgivande. Leasingobjektet får inte brukas i yrkesmässig trafik eller i tävlingssammanhang.
				</p>

				<h3>5. SKÖTSEL OCH KUNDENS SKYLDIGHETER</h3>
				<p class="secondary-paragraph">
					Kunden får inte företa några ändringar i leasingobjektet eller dess utrustning. Kunden svarar för att leasingobjektet vårdas väl enligt rekommendationer i leasingobjektets instruktionsbok samt att regelbunden underhållsservice och erforderliga reparationer
					utförs vid auktoriserad märkesverkstad. Kunden är skyldig tillse att objektet alltid är i det skick vägtrafikförordningen föreskriver. Kunden garanterar riktigheten av mätarställning vid objektets återlämnande.

					<br> <br> Kundens rätt till service förutsätter att behovet av de av kunden begärda åtgärderna uppkommit under avtalstiden. För att avtalet skall gälla krävs dessutom att kunden:
				</p>
				<p class="secondary-paragraph secondary-paragraph--indented">
					a) Kör, underhåller och sköter leasingobjektet i enlighet med de instruktioner som anges i objektets Instruktionsbok och Service- &amp; Garantibok.<br> b) Genomför rutinkontroller av olje- och vätskenivåer i leasingobjektet mellan rekommenderade
					serviceintervall och fyller på vid behov på egen bekostnad.<br> c) Lämnar leasingobjektet till auktoriserad märkesverkstad för Volvo Original Service vid de serviceintervaller som anges i leasingobjektets Instruktionsbok och Service &amp; Garantibok,
					+/- 300 mil, alternativt enligt angivet årsintervall +/- 1 månad efter senast utförda ordinarie service.<br> d) I händelse av fel eller skada på leasingobjektets kilometerräknare, omedelbart underrätta auktoriserad märkesverkstad om felet och därefter
					lämnar objektet till verkstaden för åtgärdande på egen bekostnad.<br> e) Så snart kunden har anledning att tro att den avtalade årliga körsträckan kommer att överskridas, meddelar detta till leasegivaren.
				</p>
				<p></p>

				<h3>6. ÖVER-/UNDERMILSJUSTERING</h3>
				<p class="secondary-paragraph">
					Kunden är skyldig att betala för den körsträcka leasingobjektet faktiskt rullat. Leasegivaren har rätt att när som helst, i samband med verkstadsbesök eller på annat sätt, kontrollera om den verkliga körsträckan på årsbasis stämmer överens med den avtalade
					årliga körsträckan. Beräknad mätarställning är den mätarställning som borde ha uppnåtts vid avstämningstillfället om den avtalade årliga körsträckan hade följts.
					<br> <br> Vid konstaterade övermil (om leasingobjektets verkliga mätarställning överstiger beräknad mätarställning med mer än 300 mil och att serviceinnehållet ändras) förbinder sig kunden att betala ett retroaktivt belopp, vilket regleras på nästkommande
					faktura, respektive en ny månadsavgift för avtalsperiodens återstående månader.
					<br> <br> Vid konstaterade undermil (om leasingobjektets verkliga mätarställning understiger beräknad mätarställning med mer än 300 mil och att serviceinnehållet ändras) skall leasegivaren på motsvarande sätt betala tillbaka eventuell differens till
					kunden.
					<br> <br> Den nya månadsavgiften är den som skulle ha gällt om korrekt årlig körsträcka hade angivits när avtalet tecknades. Det retroaktiva beloppet räknas ut enligt följande:skillnaden mellan hittills inbetalt belopp jämfört med det belopp som
					skulle ha betalats in om den nya månadsavgiften hade gällt från avtalsperiodens start.
				</p>

				<h3>7. SERVICE</h3>
				<p class="secondary-paragraph">
					Det serviceavtal som ingår i Care by Volvo omfattar kostnader för objektets underhållsservice i enlighet med Volvos rekommendationer inom den avtalade körsträckan. Det inkluderar slitage-, funktionalitet- och säkerhetskontroller samt milbundna intervalltillägg
					såsom byten av tändstift, luftfilter och kamrem. Åtagandet innefattar såväl arbete som material, såsom oljor, vätskor och reservdelar som ingår i ordinarie service (ej bromsvätska).
				</p>
				<p class="secondary-paragraph secondary-paragraph--indented">
					a) Påfyllning av oljor och vätskor mellan ordinarie servicetillfälle ingår inte i avtalet<br> b) Serviceåtaganden utförs på normala öppettider och inom skälig tid från det att kunden anmält behov av service och ställt leasingobjektet till förfogande
					för åtgärdande hos auktoriserad märkesverkstad.<br> c) Ansvarsbegränsning<br> Detta avtal innefattar inte någon skyldighet för leasegivaren att på något sätt ersätta kunden för dennes kostnader, inkomstbortfall, tidsförlust eller annan skada, till
					följd av att kunden ställt leasingobjektet till leasegivarens eller auktoriserad märkesverkstads förfogande eller på grund av att kunden varit förhindrad att nyttja objektet under den tid märkesverkstaden haft objektet i sin vård för serviceåtgärder.
					Detta innebär dock ingen inskränkning i kundens möjlighet att vid fel i eller dröjsmål med tjänsten kräva påföljder i enlighet med tvingande lagbestämmelser.
				</p>
				<p></p>

				<h3>8. LEASINGAVGIFT</h3>
				<p class="secondary-paragraph">
					Leasingavgiften inkl. moms betalas i förskott månadsvis. För tiden från och med leveransdatum till leasingperiodens första datum, dvs första dagen i nästkommande månad, utgår initialhyra i form av ränta som betalas i förskott och som beräknas på insättningsvärdet.
					<br> <br> Leasinghyrans storlek bestäms då kundorder tecknas och gäller under hela leasingperioden. För de fall Euro införs som enda lagliga betalningsmedel i Sverige skall, om leasegivaren så påkallar, leasinghyran omförhandlas.
					<br> <br> Betalas icke fakturerad leasingavgift på förfallodagen debiteras dröjsmålsränta på förfallet belopp efter en räntesats/år som med 10 procentenheter överstiger Riksbankens vid var tid gällande referensränta, minimum 75kr. Avgift debiteras
					dessutom för påminnelse som utsänts. För det fall notering av Riksbankens referensränta saknas äger leasegivaren rätt att i denna referensräntas ställe använda annan likvärdig parameter.
				</p>

				<h3>9. FÖRSÄKRINGAR</h3>
				<p class="secondary-paragraph">
					Leasingobjektet är under leasingperioden trafik-, delkasko- samt trygghetsförsäkrat. För fullständiga försäkringsvillkor, se volvocars.se. Försäkringsbrev skickas separat till kunden via post efter att leasingobjektet har levererats.
					<br> <br> Vid försäkringsfall skall kunden stå ansvaret för uppkommen skada. Skadereglering sker genom alternativt PV-garantin eller övriga försäkringar som anges i kundordern. Om objektet under leasingperioden blir ersatt av PV-garantin eller försäkringsbolag
					på grund av skada eller stöld, upphör detta leasingavtal att gälla och slutavräkning sker enl. punkt 16 i dessa villkor. Nytt leasingavtal tecknas på nya objektet.
					<br> <br> Vid försäkringsskada skall kunden oavsett skuldfrågan omedelbart underrätta leasegivaren, lämna skadeanmälan till den auktoriserade märkesverkstad, som handhar skada, samt iakttaga gällande försäkringsbestämmelser och vidtaga åtgärder,
					som normalt åvilar objektets ägare enligt försäkringsvillkoren eller lag. Kunden förbinder sig att ersätta leasegivaren för skada eller förlust, som kan uppstå till följd av försummelse i detta hänseende.
				</p>

				<h3>10. SJÄLVRISKBELOPP</h3>
				<p class="secondary-paragraph">
					Självriskbelopp betalas av kunden vid varje skadetillfälle enligt vid var tidpunkt gällande villkor för självrisker. Självriskernas omfattning finns beskrivna i försäkringsbolagets försäkringsbrev.

				</p>

				<h3>11. SKATT</h3>
				<p class="secondary-paragraph">
					Kostnader för vägtrafikskatt eller andra skatter och avgifter svarar kunden för.
				</p>

				<h3>12. SKADESTÅND M.M.</h3>
				<p class="secondary-paragraph">
					Kunden är gentemot leasegivaren ansvarig för skada och skadestånd, som till följd av trafik med leasingobjektet kan komma att åläggas leasegivaren såsom ägare av detsamma och som inte täcks av försäkring eller som försäkringsbolag regressvis äger utkräva
					av leasegivaren.

				</p>

				<h3>13. ÖVERLÅTELSE</h3>
				<p class="secondary-paragraph">
					Leasegivaren har rätt att överlåta leasingavtalet och leasingobjektet varvid avtalsinnehållet gäller oförändrat mot förvärvaren. Vad som sägs om leasegivaren skall då istället gälla i förhållande till förvärvaren.
					<br> <br> Kunden äger icke rätt att överlåta detta avtal eller överlåta eller pantsätta leasingobjektet. Kunden är skyldig att till leasegivaren anmäla om objektet eller delar därav bli föremål för utmätning, beslag, kvarstad, skingringsförbud, handräckning
					eller kvarhållande till säkerhet för fordran samt att förhindra sådan åtgärd genom att påtala och visa upp detta leasingavtal.
				</p>

				<h3>14. UPPSÄGNING</h3>
				<p class="secondary-paragraph">
					Leasegivaren har rätt att säga upp avtalet med omedelbar verkan om förutsättningarna för leasegivarens verksamhet förändras väsentligt på grund av förhållanden utanför leasegivarens kontroll samt att detta avsevärt försvårar för leasegivaren att fullgöra
					sina skyldigheter enligt avtalet. Leasegivaren har också rätt att säga upp avtalet med omedelbar verkan om kunden uppenbart missbrukar sina rättigheter enligt avtalsvillkoren.
					<br> <br> Leasegivaren äger rätt att säga upp avtalet med omedelbar verkan och genast återta objektet utan att anlita myndighet när:
				</p>
				<p class="secondary-paragraph secondary-paragraph--indented">
					a) kunden inte erlägger leasingavgiften senast fastställd dag<br> b) leasingobjektet brukas på sådant sätt att PV-garantin eller annan försäkring ej gäller eller objektet vanvårdas eller utsättes för onormal körning<br> c) kunden eller objektets
					förare i övrigt åsidosätter bestämmelserna i detta leasingavtal<br> d) det finns skälig anledning att anta att kunden är på obestånd, eller om det i övrigt finns skälig anledning att tro att kunden inte kommer att kunna fullgöra sina åtaganden med
					anledning av leasingavtalet.
					<br>
				</p>
				<p class="secondary-paragraph">
					Om avtalet upphör i förtid har kunden ej rätt att få tillbaka erlagda avgifter. Leasegivaren har i sådana fall rätt att kräva in eventuellt underskott av kunden.
					<br> <br> En uppsägning av avtalet innebär inte att kunden befrias från sådana skyldigheter som uppkommit före avtalets upphörande.
					<br> <br> Efter uppsägning görs avräkning enligt punkt 16. Samtliga kostnader och förluster för leasegivaren i samband med objektets återtagande på grund av ovanstående bestämmelser skall betalas av kunden.
				</p>

				<h3>15. LEASINGAVTALETS UPPHÖRANDE VID LEASINGPERIODENS SLUT</h3>
				<p class="secondary-paragraph">
					Vid leasingavtalets slut skall leasingobjektet återlämnas till leasegivaren. Kunden svarar för att objektet vid återlämnandet, frånsett slitage på grund av normalt användande, är i ursprungligt skick. I annat fall skall kunden ersätta kostnaderna för
					objektets återställande i nyss angivet skick.
					<br> <br> Kostnader för rengöring och tvätt betalas av kunden. Samtliga handlingar samt förhyrd extrautrustning som tillhör objektet skall återlämnas. Kostnader för ersättande av förkomna handlingar och extrautrustning betalas av kunden. Om objektet
					återlämnas efter ordinarie inställelsemånad för kontrollbesiktning och ej är besiktigat skall kunden ersätta leasegivaren för dennes kostnader för kontrollbesiktning. Om objektet inte återlämnas i tid skall ersättning utgå med dubbel leasingavgift
					per dygn i proportion av gällande leasinghyra till och med den dag, då objektet återlämnas, såvida inte annat överenskommes.
					<br> <br> Leasinghyran är baserad på den avtalade totala körsträckan. Vid upphörande vid leasingperiodens utgång jämförs verkligt antal körda mil med avtalad körsträcka. Vid avvikelse från avtalad körsträcka erläggs av, eller återbetalas till, kunden
					den över-, eller undermilkostnad. Vid återbetalning av undermil tillämpas en lägsta körsträcka om 1.500 mil/år även om den verkliga körsträckan är kortare.
				</p>

				<h3>16. LEASINGAVTALETS UPPHÖRANDE AV ANNAN ORSAK ÄN ATT LEASINGPERIODEN GÅTT TILL ÄNDA</h3>
				<p class="secondary-paragraph">
					Då leasingperioden upphör av annat skäl än att överenskommen leasingperiod upphör skall leasingobjektet återlämnas, varpå leasingobjektets aktuella beräknade restvärde jämförs med verkligt nettovärde, vilket definieras som leasingobjektets då gällande<br>					- marknadsvärde enligt MRF:s eller motsvarande prognosprislista för begagnade bilar (avser bilar i standardutförande)<br> - plus beräknat restvärde på den extrautrustning m.m., som ingår i insättningsvärdet<br> - minus 15% av marknadsvärdet, avseende
					försäljnings- och hanteringskostnader<br> - minus kostnad för reparation enligt testprotokoll<br>
					<br> Det sålunda framräknade nettovärdet jämförs med det beräknade restvärdet, till vilket tillkommer obetalda förfallna leasingavgifter jämte upplupen dröjsmålsränta därpå och med leasingförhållandet sammanhängande fakturor. Är nettovärdet större,
					tillgodoräknas kunden mellanskillnaden, är det mindre skall kunden betala mellanskillnaden.
				</p>

				<h3>17. DEPOSITION</h3>
				<p class="secondary-paragraph">
					Kunden deponerar, i förekommande fall, på leasingavtalets första sida angivet belopp vid leverans av leasingobjektet. Deposition återbetalas i samband med avräkningen vid leasingperiodens slut då leasingobjektet återlämnas. Leasegivaren äger mot deposition
					avräkna eventuell mot kunden gällande fordran som uppstått under leasingperioden eller vid leasingobjektets återlämnande och som har samband med uthyrningen.
				</p>

				<h3>18. OFÖRUTSEDDA HÄNDELSER</h3>
				<p class="secondary-paragraph">
					Leasegivaren äger rätt att helt eller delvis frånträda åtagande avseende åtaganden enligt detta avtal därest lagändring, åtgärd av Riksbanken, Finansinspektionen eller annan myndighet fördyrar eller väsentligt försvårar leasegivarens fullgörande av sina
					åtaganden.
				</p>

				<h3>19. MEDDELANDE, ADRESSÄNDRING</h3>
				<p class="secondary-paragraph">
					Har meddelande som rör avtalet, av leasegivaren avsänts till kunden i rekommenderat brev under dennes i avtalet angivna adress eller den ändrade adress som vid meddelandets avsändande för leasegivaren varit känd så som ny adress skall meddelande anses
					ha kommit kunden tillhanda senast tredje dagen efter avsändandet. Kunden är skyldig att omedelbart meddela leasegivaren eventuell adressändring.
				</p>

				<h3>20. BEHANDLING AV PERSONUPPGIFTER FÖR LEASING</h3>
				<p class="secondary-paragraph">
					Utöver hantering av personuppgifter för registrering av ordern, som funnits att tillgå i samband med köptillfället, behandlar även Volvofinans Bank AB personuppgifter avseende kunden i egenskap av personuppgiftsansvarig för leasing. De personuppgifter
					som Volvofinans inhämtar om kunden via det finansiella avtalet är nödvändiga för att Volvofinans skall kunna administrera det finansiella avtalet samt fullgöra våra avtalsförpliktelser och i övrigt dina önskemål som kund. Uppgifterna kan också användas
					för att utvärdera och fatta beslut om innehåll och utformning av finansiella produkter och marknadsanalyser. Uppgifterna kan komma att behandlas för att skicka kunden information och för marknadsföring om våra tjänster i övrigt.
					<br> <br> Volvofinans är enligt lag förhindrat att obehörigen lämna ut personuppgifter avseende kunden. Personuppgifter avseende kunden får endast lämnas ut om kunden medgivit det, eller om det följer av tillämplig svensk lag eller myndighetsbeslut.
					<br> <br> Kunden har rätt att en gång per år kostnadsfritt ta del av de uppgifter som Volvofinans behandlar avseende kunden. Om kunden av något skäl skulle anse att uppgifterna är felaktiga eller på något annat sätt missvisande bör kunden utan dröjsmål
					kontakta Volvofinans. Kunden kan anmäla till Volvofinans att kunden motsätter sig behandling av personuppgifter för direktmarknadsföringsändamål.
					<br> <br> Volvofinans Bank AB, Box 198, 401 23 Göteborg
				</p>
			</div>
		</div>
	</div>

</div>
