// Adds opacity support for IE8
.opacity( @value ) {
    @ieValue: @value * 100;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieValue})';
    filter: e( 'alpha( opacity=@{ieValue} )' );
    opacity: @value;
}

// Adds alpha support for backgrounds for IE8
.backgroundRgba( @r, @g, @b, @a ) {
    background-color: rgba( @r, @g, @b, @a );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=argb(rgba( @r, @g, @b, @a )), endColorstr=argb(rgba( @r, @g, @b, @a  )) );
    zoom: 1;
}

// Mixins to set background image
.fbi-img-base() {
    background-repeat: no-repeat;
}

.fbi-set-img( @imgName ) {
    background-image: url( '@@path/img/@{imgName}' );
    .fbi-img-base();
}

.fbi-responsive-img( @imgName ) {
    .fbi-set-img( 'normal/@{imgName}' );

    // Tested against all the clients in the Chrome, matches most of them except for a few weird ones
    @media screen and ( max-width: 480px ) {
        .fbi-set-img( 'mobile-lowres/@{imgName}' );
    }

    @media screen and ( max-width: 480px ) and ( -webkit-min-device-pixel-ratio: 1.5 ),
    screen and ( max-width: 480px ) and ( min--moz-device-pixel-ratio: 1.5 ),
    screen and ( max-width: 480px ) and ( -o-min-device-pixel-ratio: 1.5/1 ),
    screen and ( max-width: 480px ) and ( min-device-pixel-ratio: 1.5 ),
    screen and ( max-width: 480px ) and ( min-resolution: 192dpi ),
    screen and ( max-width: 480px ) and ( min-resolution: 1.5dppx ) {
        .fbi-set-img( 'mobile-highres/@{imgName}' );
    }
}

.fbi-icon( @imgName ) {
    background-image: url( '@@path/img/@{imgName}.png' );
    background-image: url( '@@path/img/@{imgName}.svg' ),
        linear-gradient( transparent, transparent );

    .fbi-img-base();
}

// Misc

.left {
    text-align: left;
}

.clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
