@import 'mixins.less';
@import 'volvo.config.less';
@import 'modules.less';
@import 'volvo.less';

// Keep this block
#fbi-content {
    a {
        .fbi-link();
    }

    .text-header {
        padding-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            @media screen and (max-width: 768px) {
                margin-bottom: 0px;
            }
        }
    }
    .sub-header {
        text-align: center;
        padding-bottom: 30px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            padding-bottom: 0;
        }
    }

    .text-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-wrapper {
        padding: 0 14px 0 17px;
        width: 100%;
        max-width: 550px;
        height: 950px;
        margin-bottom: 50px;
        overflow-x: hidden;
    }


    .personuppgifter {
        .text-header {
            margin-bottom: 0;
            h1 {
                margin-bottom: 20px;
            }
        }
        .text-wrapper {
            h3 {
                margin-top: 20px;
                font-weight: 400;
            }
        }
    }

}


@import 'style.1266.less';
@import 'style.768.less';
@import 'style.480.less';
@import 'overrides.less';
